.clip-triangle {
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

@keyframes circleAnimation {
  0% {
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}

/* Class untuk animasi */
.animate-circle {
  animation: circleAnimation 3s linear infinite;
}
